<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#post_text'
      });

    </script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img class="responsive-img" src="{% static 'img/logo_kodland.png' %}">
            </a>
            <div class="container breadcrumbs">
                {% block breadcrumbs %}{% endblock %}
                <!--                <div class="row">-->
                <!--                    <a class="ui-link" href="/">Блог</a>-->
                <!--                    <a class="ui-link" href="/post/new/">Добавить статью</a>-->
                <!--                    <a class="ui-link" href="/admin/web/post/">Админка</a>-->
                <!--                </div>-->
            </div>
            <div class="account-menu">
                <a href="#">
                    <img class="responsive-img" src="{% static 'img/email.png' %}">
                </a>
                <a href="#">
                    <img class="responsive-img pupil" src="{% static 'img/pupil.png' %}">
                </a>
                <a href="#">
                    <img class="responsive-img" src="{% static 'img/logout.png' %}">
                </a>
            </div>
            <!--            <ul class="right">-->
            <!--                <li><a href="#"><i class="material-icons">mail_outline</i></a></li>-->
            <!--                <li><a href="#">pupil</a></li>-->
            <!--                <li><a href="#"><i class="material-icons">exit_to_app</i></a></li>-->
            <!--            </ul>-->
        </div>
    </nav>
</div>
<main>
    {% block content %}{% endblock %}
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s3">
                <h5 class="ui-header">О школе</h5>
                <ul>
                    <li><a href="#" class="ui-link">О курсе</a></li>
                    <li><a href="#" class="ui-link">Блог</a></li>
                    <li><a href="#" class="ui-link">Отзывы</a></li>
                    <li><a href="#" class="ui-link">FAQ</a></li>
                    <li><a href="#" class="ui-link">Франшиза</a></li>
                    <li><a href="#" class="ui-link">Договор оферты</a></li>
                </ul>
            </div>
            <div class="col s3">
                <h5 class="ui-header">Обучение</h5>
                <ul>
                    <li><a href="#" class="ui-link">Онлайн</a></li>
                    <li><a href="#" class="ui-link">Офлайн</a></li>
                </ul>
            </div>
            <div class="col s3">
                <h5 class="ui-header">Контакты</h5>
                <ul>
                    <li><a href="mailto:mail@mail.mail" class="ui-link">mail@mail.mail</a></li>
                </ul>
            </div>
            <div class="col s3">
                <h5 class="ui-header">Соцсети</h5>
                <ul>
                    <li><a href="#" class="ui-link">Facebook</a></li>
                    <li><a href="#" class="ui-link">Instagram</a></li>
                    <li><a href="#" class="ui-link">Vkontakte</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span class="black-text">&copy; Mr_Sanya - 2020</span>
        </div>
    </div>
</footer>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>